# Data Cleaning on Telecom useres dataset

In this notebook we perform an data cleaning process on the Netflix dataset obtained from kaggle: https://www.kaggle.com/radmirzosimov/telecom-users-dataset

-------------------------------------------------------------------------------------------------------------------------------------------------------------

## 0. Import basic libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd 

print("Libraries imported!!")

Libraries imported!!

----------------------------------------------------------------------------------------
## 1. Load and read the dataset

Here, we read the dataset and we find the shape of it as well as the colum names.

In [2]:
df = pd.read_csv('telecom_users.csv')
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No

In [3]:
print('There are', df.shape[0], 'rows and', df.shape[1], 'columns in the dataset.')

There are 5986 rows and 22 columns in the dataset.

In [4]:
print('The columns of the dataset are the following: ')
for col in df.columns.tolist() :
    print('-', col)

The columns of the dataset are the following:
- Unnamed: 0
- customerID
- gender
- SeniorCitizen
- Partner
- Dependents
- tenure
- PhoneService
- MultipleLines
- InternetService
- OnlineSecurity
- OnlineBackup
- DeviceProtection
- TechSupport
- StreamingTV
- StreamingMovies
- Contract
- PaperlessBilling
- PaymentMethod
- MonthlyCharges
- TotalCharges
- Churn

----------------------------------------------------------------------------------------------
## 2. Find and handle missing values

In this step, we find and handle missing values in the dataset.

First, we identify missing values.

In [5]:
missing_data = df.isnull()
missing_data.head(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Now, we are going to count how many missing values has each column.

In [6]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("#################################")

Unnamed: 0
False    5986
Name: Unnamed: 0, dtype: int64
#################################
customerID
False    5986
Name: customerID, dtype: int64
#################################
gender
False    5986
Name: gender, dtype: int64
#################################
SeniorCitizen
False    5986
Name: SeniorCitizen, dtype: int64
#################################
Partner
False    5986
Name: Partner, dtype: int64
#################################
Dependents
False    5986
Name: Dependents, dtype: int64
#################################
tenure
False    5986
Name: tenure, dtype: int64
#################################
PhoneService
False    5986
Name: PhoneService, dtype: int64
#################################
MultipleLines
False    5986
Name: MultipleLines, dtype: int64
#################################
InternetService
False    5986
Name: InternetService, dtype: int64
#################################
OnlineSecurity
False    5986
Name: OnlineSecurity, dtype: int64
#################################
OnlineBackup
False    5986
Name: OnlineBackup, dtype: int64
#################################
DeviceProtection
False    5986
Name: DeviceProtection, dtype: int64
#################################
TechSupport
False    5986
Name: TechSupport, dtype: int64
#################################
StreamingTV
False    5986
Name: StreamingTV, dtype: int64
#################################
StreamingMovies
False    5986
Name: StreamingMovies, dtype: int64
#################################
Contract
False    5986
Name: Contract, dtype: int64
#################################
PaperlessBilling
False    5986
Name: PaperlessBilling, dtype: int64
#################################
PaymentMethod
False    5986
Name: PaymentMethod, dtype: int64
#################################
MonthlyCharges
False    5986
Name: MonthlyCharges, dtype: int64
#################################
TotalCharges
False    5986
Name: TotalCharges, dtype: int64
#################################
Churn
False    5986
Name: Churn, dtype: int64
#################################

Based on the summary above, there are no missing values.

----------------------------------------------------------------------------------------------
## 3. Check data format

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5986 non-null   int64
 1   customerID        5986 non-null   object
 2   gender            5986 non-null   object
 3   SeniorCitizen     5986 non-null   int64
 4   Partner           5986 non-null   object
 5   Dependents        5986 non-null   object
 6   tenure            5986 non-null   int64
 7   PhoneService      5986 non-null   object
 8   MultipleLines     5986 non-null   object
 9   InternetService   5986 non-null   object
 10  OnlineSecurity    5986 non-null   object
 11  OnlineBackup      5986 non-null   object
 12  DeviceProtection  5986 non-null   object
 13  TechSupport       5986 non-null   object
 14  StreamingTV       5986 non-null   object
 15  StreamingMovies   5986 non-null   object
 16  Contract          5986 non-null   object
 17  PaperlessBilling  5986 non-null   object
 18  PaymentMethod     5986 non-null   object
 19  MonthlyCharges    5986 non-null   float64
 20  TotalCharges      5986 non-null   object
 21  Churn             5986 non-null   object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.0+ MB